# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package files
*.jar

# Eclipse files
.project
.classpath
.settings/

# IntelliJ IDEA files
.idea/
*.iml

# NetBeans files
nbproject/
build/

*.bat